<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
	<title>Page love forms</title>
</head>
<body>


	<!-- barre de navigation -->
	<ul class="nav nav-pills nav-fill">
	  <li class="nav-item">
	    <a class="nav-link" href="/">Accueil</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/form1">Formulaire 1</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/form2">Formulaire 2</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link active" href="/form3">Formulaire 3</a>
	  </li>
	</ul>

	<center>
		<br><br>
		<h1>Page formulaire 3</h1>
		<small id="emailHelp" class="form-text text-muted">Fais à l'aide de RUBY (form_for).</small><br>



		<!--formulaire : RUBY (form_for) -->
	
		<%= form_for :user do |f| %>
			Username:<br>
			<%= f.text_field :username , class: "form-control col-sm-5" , placeholder:"ex : LaraCroft"%><br>
			Email address:<br>
			<%= f.text_field :email , class: "form-control col-sm-5" ,placeholder:"ex : name@example.com"%><br>
			Biographie:<br>
			<%= f.text_area :bio, size: "33x5" , class: "form-control col-sm-5" %><br>
			<%= f.submit "Submit the form" , class:"btn btn-primary"%><br><br>

		<% end %>

		<p>Retour vers : <a href="/">Accueil</a></p>
	</center>

</body>
</html>